
    <h1>Amin Saadaoui’s Avid Snow Leopard || ITIS 3135</h1>
    <nav>
        <nav>
            <a href="https://webpages.charlotte.edu/asaadao1/itis3135/">Home</a></li>
            <a href="introduction.html">Introduction</a></li>
            <a href="contract.html">Contract</a></li>             
            <a href="about.html">About</a></li>
            <a href="tables.html">HTML Tables</a></li>
            <a href="forms.html">HTML Forms</a></li>
            <a href="website_evalations.html">Website Evaluations</a></li>
        </nav>
        <hr>
        <nav>
            <a href="bAd wEirD page.html">Crappy Page</a>
        </nav>
